html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  min-height: 100vh;
  padding: 15px 0;
  background-color: #060042;
  background-image: linear-gradient(#060042 10%, #20A39E 110%);
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
}

img.logo {
  width: 130px;
}

h2 {
  font-size: 1rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 25px;
}

a {
  display: block;
  font-size: 1.1rem;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
  margin: 10px auto;
  padding: 15px;
  max-width: 320px;
  transition: all 200ms ease-in-out;
}
a:hover, a:focus {
  background-color: #060042;
}

a.featured {
  position: relative;
  background: #ffffff;
  color: #060042;
}
a.featured:before {
  content: '';
  position: absolute;
  border: 2px solid #060042;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}