$dkPurpleBlue: #060042;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $dkPurpleBlue;
    background-image: url('../img/hp-background.png');
    background-size: 400px;
    background-repeat: repeat;
    //background-image: -webkit-gradient(linear,left top,left bottom,color-stop(2%,#060042),color-stop(108%,#20A39E));
    //background-image: linear-gradient(#060042 2%,#20A39E 108%);
    color: #ffffff;
    min-height: 100vh;
    margin: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 120px;
}

a, a.featured {    
    &:hover {
        background-color: $dkPurpleBlue;
        color: #ffffff;
    }
}

a {
    display: block;
    max-width: 400px;
    margin: 0 auto 15px auto;
    padding: 15px 20px;
    font-size: 0.95rem;
    background-color: $dkPurpleBlue;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 26px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
    
    &:hover {
        background-color: rgba(#ffffff, 0.05);
    }
    &.featured {
        position: relative;
        background-color: #ffffff;
        color: $dkPurpleBlue;
        font-weight: bold;

        &:before {
            content: "";
            position: absolute;
            top: 1px;
            left: 1px;            
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border: 2px solid $dkPurpleBlue;
            border-radius: 22px;
        }

        span {
            display: block;
            margin-top: 5px;
            font-size: 12px;
            font-style: italic;
            font-weight: normal;
        }
    }
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 20px;

    &:first-of-type {
        margin-top: 10px;
    }
}

.channels {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    
    a {
        flex: 1;
        padding: 5px 10px;
        margin-right: 10px;
        background-color: #ffffff;
        color: $dkPurpleBlue;
        border: none;
        border-radius: 5px;

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}