html {
    font-size: 100%;
}

body {
    font-family: Arial, sans-serif;
}

body.responsive {
      
    h1 {
        font-size: 2.25rem;
        
        @media (min-width: 700px){
            font-size: 3.5rem;
        }

        @media (min-width: 1000px){
            font-size: 4.75rem;
        }
    }
  
    h2 {
        font-size: 1.5rem;
        
        @media (min-width: 700px){
            font-size: 2rem;
        }

        @media (min-width: 1000px){
            font-size: 2.5rem;
        }  
    }
  
    p {
        font-size: 1rem;

        @media (min-width: 700px){
            font-size: 1.25rem;
        }

        @media (min-width: 1000px){
            font-size: 1.25rem;
        }
    }
}

body.fluid {

    h1 {
        font-size: calc(1.3rem + 3.6vw);                
    }

    h1.limit {
        font-size: 2.25rem;

        @media (min-width: 414px){
            font-size: calc(1.3rem + 3.6vw);
        }

        @media (min-width: 1440px){
            font-size: 4.75rem;
        }
        
    }

    h2 {
        font-size: calc(1.25rem + 1.3vw);
    }

    p {
        font-size: calc(0.95rem + 0.25vw);
    }
}

@mixin calc-font-size($min-vw, $max-vw, $min-font-size, $max-font-size){
    font-size: calc(#{$min-font-size}rem + ((100vw - #{$min-vw}rem) / (#{$max-vw} - #{$min-vw})) * (#{$max-font-size} - #{$min-font-size}));
}

body.fluid-locks { 
    // Using a minimum viewport of 414px or 25.875rem, and maximum viewport of 1440px or 90rem
    
    h1 {
        font-size: 2.25rem;

        @media (min-width: 414px){            
            font-size: calc(2.25rem + (((100vw - 20rem) / (90 - 20))) * (4.75 - 2.25));
            @include calc-font-size(25.875, 90, 2.25, 4.75);
        }

        @media (min-width: 1440px){
            font-size: 4.75rem;
        }
    }

    h2 { // ~24px - ~40px
        font-size: 1.5rem;

        @media (min-width: 320px){
            font-size: calc( 1.5rem + ((2.5 - 1.5) * ((100vw - 20rem) / (90 - 20))) );
        }

        @media  (min-width: 1440px){
            font-size: 2.5rem;
        }
    }

    p { // ~16px - ~20px                
        font-size: 1rem;

        @media (min-width: 320px){
            font-size: calc( 1rem + ((1.25 - 1) * ((100vw - 20rem) / (90 - 20))) );
        }

        @media  (min-width: 1440px){
            font-size: 1.25rem;
        }
    }
}